.website {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
@media screen and (max-width: 620px) {
    .website {
        width: calc(100vw - 32px);
        margin: 0 auto;
    }
}