.footer__navigation {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.footer__navigation li {
    display: inline;
    margin-right: 18px;
}

@media screen and (max-width: 320px) {
    .footer__navigation li {
        display: list-item;
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 24px;
    }
}